body{
    padding: 0;
    margin: 0;
    background-color: rgb(243, 243, 243) !important;
}
.container{
    display: flex;
    justify-content: center;
}
.square{
    width: 400px;
    border: 1px solid rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
img{
    width: 100%;
}
.buttons{
    display: flex;
    justify-content: space-around;
}