{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links to img and favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/inicio_sesion.css' %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Inicio sesion</title>
</head>
<body>
    <div class="container mt-3">
        <div class="square">
            <div class="img mb-3">
                <img src="{% static 'img/logo.jpg'%}" alt="Logo de la empresa">
            </div>
            <div class="data">
                <form action="inicio-sesion" method="post">
                {% csrf_token %}
                    <div class="input-group mb-3">
                        <i class="bi bi-person-circle input-group-text"></i>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email" autocomplete="off" required>
                    </div>
                    <div class="input-group mb-3">
                        <i class="bi bi-lock input-group-text"></i>
                        <input type="password" class="form-control" name="password" id="password" autocomplete="off" placeholder="Password" required>
                    </div>
                    <div class="buttons mb-3">
                        <button type="submit" class="btn btn-success">Iniciar sesion</button>
                        <button type="reset" class="btn btn-danger">Eliminar</button>
                    </div>
                </form>
            </div>
            <div class="link d-flex justify-content-center">
                <a class="link-info" href="crear_cuenta">¿No tienes cuenta? Crea una clickeando aquí</a>
            </div>
        </div>
    </div>
</body>
</html>