{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links to img and favicon-->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Perfil de usuario</title>
</head>
<body>
    <header>
        <nav class="navbar navbar navbar-light " style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <img class="icon-nav navbar-brand" style="width: 30px;" src="{% static 'img/favicon.png' %}" alt="Icono de libreria">
                <a class="nav-link active" href="/seleccion-libros">Home</a>
                <a class="nav-link active" href="/carrito-de-compras">Carrito</a>
                <a class="nav-link active" href="/pago-de-carrito">Pagar</a>
                <a class="nav-link active" href="/historial">Historial</a>
                <a class="nav-link active" href="/perfil">Perfil</a>
                <a class="nav-link active" href="/">Salir</a>
                <form action="" method="post" class="d-flex">
                    <input class="form-control me-2" type="search" name="busqueda" id="busqueda" placeholder="Buscar libro">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <h1>Bienvenido {{ user.name }}</h1>
        </div>
        <div class="d-flex align-items-center bg-light justify-content-around">
            <div class="perfilUser p-3">
                <img src="{% static 'img/' %}{{user.user_id}}.png" style="border-radius: 10%; width: 300px;" alt="Foto de perfil">
            </div>
            <div class="data fs-2">
                <p>Nombre: {{user.name}}</p>
                <p>Correo: {{user.email}}</p>
                <p>Dirección: {{user.address}}</p>
                <p>Número: {{user.phone}}</p>
            </div>
        </div>
    </div>
</body>
</html>